{% extends "base.html" %}
{% load crispy_forms_tags poll_extras %}
{% load static %}

{% block meta %}
     <meta name="title" content={{PollType_obj}}>
     <meta name="description" content={{PollType_obj.description}}>
     <meta name="keywords" content={% for i in Tags %} {{ i }}, {% endfor %}>
 {% endblock %}

{{Tags}}

<style>
{% block style %}


{% endblock %}
</style>





{% block content %}



{% include 'scrollbar.html' %} <!-- for users to estimate how many on the list -->



<!-- <div class="top-container">
  <h1>Scroll Down</h1>
  <p>Scroll down to see the sticky effect.</p>
</div> -->





    <div class="mainboxstyle">

          <div style="float:right; margin-top:4px">
<!--             {% if free == True %}
              <i style="font-size: 16px" class="allfontcolor fas fa-check-circle fa-1x"></i><b class="allfontcolor">&nbsp;Free</b>
            {% endif %}
            &nbsp;&nbsp;&nbsp;&nbsp; -->

            {% if listtitle == "Favorite" or listtitle == "Created"  or listtitle == "Createduser" %}
              <a style="font-size: 16px; margin-right:10px;" href='/polls/?type={{ BackPtype }}&sort=Date' class='btn-link' ><b><i class="fas fa-step-backward fa-1x" aria-hidden="true"></i>&nbsp;Tip List</b></a>
            {% else %}

              {% if user_authorised == True %}
                <a style="font-size: 16px; margin-right:10px;" href='{{ PollType_obj.get_update }}' class='btn-link' ><b><i class="fas fa-edit fa-1x" aria-hidden="true"></i>&nbsp;Edit</b></a>
              {% endif %}

            {% endif %}


          </div>

        <div class="mainheaderstyle"><i class="fas fa-list-ol fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;{{ title }}</div>

        <hr>

          <div class="fontstyle110">
          {{ PollType_obj }} 
          {% if listtitle == "All" %}
            ({{ PollType_obj.viewpolltypeunique.ecount }} Tips)
          {% endif %}
          </div><!-- fontstyle110 -->

        <hr>

        <div class="tagsbox">
        {% if Tags %}
          {% for i in Tags %}
            {% if i.title != "" %}
            <a href='{{i.get_absolute_url}}' class="btn btn-primary tagstyle" style="margin:2px"> <b>{{i}} ({{i.counter}})</b></a>
            {% endif %}
          {% endfor %}
        {% endif %}
        </div><!-- tagsbox -->


    </div> <!-- mainboxstyle -->


{% if listtitle == "All" %}

    <div class="" style="font-weight: bold; margin:5px">

      {% if FullControl == True %}

          <form action='{% url 'polls_detail_create' %}' method='GET'  style="display: inline-block;">
            <input type="hidden" name="type_slug" value="{{ type_slug }}">
            <input type="submit" class='btn buttonspace btn-sm btn-primary' value="Add New Tip">
          </form>

      {% else %}

<!--         {% if Addpost == True %}
          <form action='{% url 'polls_detail_create' %}' method='GET'  style="display: inline-block;">
            <input type="hidden" name="type_slug" value="{{ type_slug }}">
            <input type="submit" class='btn buttonspace btn-sm btn-primary' value="Add New Tip">
          </form>
        {% else %}
          <small>Please post again in another {{ Hours }} Hours and {{ Minutes }} Minutes</small>
        {% endif %} -->

      {% endif %}

    </div>

    <div class="container fontstyle100" >

        {% if request.GET.sort == 'Score' %}
        <a href="/polls/?type={{ PollType_obj.slug }}&sort=Score" class='btn btn-link btn-sm fontstyle90 disabled'>Popular</a>|
        <a href="/polls/?type={{ PollType_obj.slug }}&sort=Date" class='btn btn-link btn-sm fontstyle90'>Latest</a>
        {% else %}
        <a href="/polls/?type={{ PollType_obj.slug }}&sort=Score" class='btn btn-link btn-sm fontstyle90'>Popular</a>|
        <a href="/polls/?type={{ PollType_obj.slug }}&sort=Date" class='btn btn-link btn-sm fontstyle90 disabled'>Latest</a>
        {% endif %}

    </div><!-- container fontstyle100-->


{% endif %}



<!-- {% if listtitle == "Favorite" or listtitle == "Created"  or listtitle == "Createduser" %}

    <a class="fontstyle90" style="margin:18px" href='/polls/?type={{ BackPtype }}&sort=Date' class='btn-link' >
      <i class="fas fa-list-ol fa-1x" aria-hidden="true"></i>&nbsp;View Complete Tip List
    </a>

{% endif %} -->



          
      {% if object_list %}

        <div class="infinite-container">

          {% for poll in polls %}

            <div class="infinite-item mainboxstyle">

                <div class="row row-tip">

                  <div class="col-sm-12 fontstyle100" style="margin-left:12px">
                      <b><span>{{ page_obj.number|total_count:paginator.per_page|counter_for_pagination:forloop.counter }}.</span>
                      {{ poll.title|safe }}</b><p class="timestampstyle">{{ poll.date|timesince }} ago</p>
                    <hr class="tiplinebreak">
                  </div>

                  {% if poll.image or poll.imageurl %}
                  <div class="col-xs-12 col-sm-4 row-tip-thumb" style="margin-left:12px">
                      {% if poll.image %}
                        <img src="{{ poll.image.url }}" class="img-rounded polllistimg">
                      {% else %}
                        <img src="{{ poll.imageurl }}" class="img-rounded polllistimg">
                      {% endif %}
                      <br><br>
                  </div>
                  {% endif %}

<!--                   had a div class row removed here because it was causing scrolling issues -->

                  <div class="col-xs-12 col-sm-12 contentstyle row-tip-body" style="float:left;"> <!-- changed sm-7 to sm-12 to get the words to flush with all -->

                    <div id="poll-space-{{ poll.id }}"></div><!-- I changed this from p to div if I face issues to change -->

                      {% if poll.description %}
                      <div class="Mobilefont Compfont">

                          <span class="tip-sliced">
                          {{ poll.description|striptags_except:"a, p, ol, ul, li, br, i"|safe|truncatechars_html:"150" }}
                          </span>

                          {% if poll.description|striptags_except:"a, p, ol, ul, li, br, i"|safe|length < 150 %}

                            {% if poll.textatt %}<p class="creditstyle"> Credits: {{ poll.textatt }}</p>{% endif %}

                            {% if Subscribedp == True or poll.user_submit == request.user or free == True %}

                            {% include 'poll_features.html' %}

                            {% endif %}

                          {% else %}

                            <hr style="margin-bottom: 0px; margin-top: -6px; visibility: hidden;">
                            <button class="btn btn-link poll-button readmorebtn" usercreate="{{poll.user_submit}}" poll_id="{{ poll.id }}">Read More</button>
                            <hr style="margin-bottom: -6px; margin-top: 0px; visibility: hidden;">

                            <span class="poll-collapse d-none">
                            {{ poll.description|striptags_except:"iframe, a, p, ol, ul, li, br, i, img"|safe }}

                            {% if poll.textatt %}<p class="creditstyle"> Credits: {{ poll.textatt }}</p>{% endif %}

                            {% include 'poll_features.html' %}

                            </span>

                          {% endif %}

                      </div> <!-- mobilefont compfont -->
                      {% endif %} <!-- poll description -->

                  </div><!-- contentstyle -->
                  

                </div> <!-- row row tip -->

              <div class="clearfix" style="height: 5px"></div>

            </div><!-- for infinite item and mainboxstyle-->

          {% endfor %} <!-- for poll in polls -->

          
          {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
          &nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{% url 'account_login' %}" class='btn btn-primary btn-sm shadow'><b>Sign up to view all</b></a><br><br>
          {% endif %}


        </div><!-- for infinite container -->




        <div class="loading" style="display: none;">
          Loading...
        </div>


<!-- this is because if "more" is clicked on like the above sometimes there are issues -->
        {% if page_obj.has_next %}
          <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.type %}&type={{ request.GET.type }}&sort={{ request.GET.sort }}{% endif %}"></a>
        {% endif %}


      {% else %}

        <div class="" style="margin:5px; font-weight: bold">
          There are no entries yet.
        </div>
            
      {% endif %}







<!-- popups to conduct surveys and to announce deals -->


{% include "surveypopup.html" %}


{# {% include "offerpopup.html" %} #}





{% include 'sharemodal.html' %}













  <!-- The Modal -->
  <div class="modal fade" id="ReportModal" style="margin:0% 1% 0% 1%; width:95%">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Report Post</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body center">

          <h4><i class="fas fa-exclamation-triangle" style="color:red">&nbsp;&nbsp;&nbsp;</i> Is this post bothering you?</h4>
          <p style="color:grey">Please tell us why</p>


        <!-- import the older version of font awesome for this spinner because the latest version is not the coolest -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <i class="spinreport fa fa-spinner fa-spin" style="font-size:24px; display:none; margin:20px"></i>
        <div class="spinreport" style="font-size:16px; display:none; ">Sending</div>

        <div class="hidesubmission">
        <form>

        <b>
        <input class='btn btn-sm btn-warning btn-block reportp' issue_id="Spam Content" poll_id="{{ poll.id }}" data-action='show-spinner' type="submit" value="Spam" style="font-weight: bold;">

        <br>

        <input class='btn btn-sm btn-danger btn-block reportp' issue_id="Outdated Content" poll_id="{{ poll.id }}" data-action='show-spinner' type="submit" value="Outdated" style="font-weight: bold;">

        <br>

        <input class='btn btn-sm btn-success btn-block reportp' issue_id="Inappropriate Content" poll_id="{{ poll.id }}" data-action='show-spinner' type="submit" value="Inappropriate" style="font-weight: bold;">

        <br>

        <input class='btn btn-sm btn-primary btn-block reportp' issue_id="Duplicate Content" poll_id="{{ poll.id }}" data-action='show-spinner' type="submit" value="Duplicate" style="font-weight: bold;">
        </b>

        <br>

        <input class='btn btn-sm btn-secondary btn-block reportp' issue_id="Other Content" poll_id="{{ poll.id }}" data-action='show-spinner' type="submit" value="Others" style="font-weight: bold;">
        </b>

        <br>


<!--         <p class="text-center"><b>Or leave your complaint below:</b></p>

        <textarea id="custom_report_textarea" class="form-control" rows="3" poll_id="{{ poll.id }}" data-action='show-spinner' issue_id="Custom Report" style="font-weight: bold;"></textarea>

        <br>

        <button id="custom_report_button" class="btn btn-sm btn-secondary btn-block" type="submit"><b>Submit</b></button> -->




<!--         <input class="form-control" rows="5" data-action='show-spinner' type="text"> -->

<!--         <div class="form-group"> -->
<!--           <label for="comment">Comment:</label>
          <textarea class="form-control" rows="4" id="comment"></textarea> -->
<!--         </div> -->

        </form>
      </div> <!-- to hide -->
        </div>
        
        <!-- Modal footer -->
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>
  






















{% endblock %}





{% block jquery %}









{#  <script>#}










    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
        addPollIdEvent();
        set_votes();
        set_fav();
        set_more();
        set_report();

 
    $(".note-video-clip").attr("width", "100%");
    $(".note-video-clip").attr("height", "300");


      }
    });







// $(".signin").click(function(e){
//   event.preventDefault();
//   window.location.assign("/accounts/login/");
// })


    //Disable right click on full page
    // $("body").on("contextmenu",function(e){
    //     return false;
    // });



  function set_more() {
    $(".poll-button").on('click', function (event) {
      var $tipRow = $(event.target).closest('.row-tip');   

      $tipRow.find('.row-tip-thumb').addClass('d-none');
      $tipRow.find('.row-tip-body').removeClass('col-sm-7');
      $tipRow.find('.tip-sliced').addClass('d-none');
      $tipRow.find('button').addClass('d-none');
      $tipRow.find('span.poll-collapse').removeClass('d-none');


      var Subscribedp = "{{ Subscribedp  }}"
      var createuser = $(this).attr("usercreate")
      var requestuser = "{{ request.user  }}"
      var free = "{{ free }}"
      var userauthenticated = "{{ userauthenticated }}"

      // rerouting the user depending on his access
      if (userauthenticated === 'True'){

          //user has access
        if ( Subscribedp === "True" || free === "True" ||  requestuser === createuser){

          //let user access - do nothing

        } else {
          //user is not paid
          window.location.assign("{% url 'SelectPlan' %}")
        }

      } else {
        //user is not authenticated
        window.location.assign("/accounts/login/")
      }


      //inserting the viewcount everytime a user views a poll
      var poll_id = $(this).attr("poll_id");

        $.ajax({
          dataType: 'json',
          type: 'POST',
          data: 'poll_id=' + poll_id,
          url: '/polls/vcount/',
          success: function(jsondata) {

              // var score_id = "#poll-score-" + poll_id;

              if (jsondata.msg === "login_requred") {
                  window.location.assign("/accounts/login/");
              } else {

                console.log(jsondata.result)

              }
          }
        });







    });
  }


    function set_votes() {
      
      // $( ".vote-up" ).click(function() {
      $( ".vote-up" ).off( "click" ).click(function() {
        event.preventDefault();
        var poll_id = $(this).attr("poll_id");
        $.ajax({
          dataType: 'json',
          type: 'POST',
          data: 'score=1&posi=true&poll_id=' + poll_id,
          url: '/polls/vote/',
          success: function(jsondata) {

              // var message = "Upvoted"
              // showFlashMessage(message)
              var score_id = "#poll-score-" + poll_id;
              var pvote_id = "#pvote-" + poll_id;
              var badge_id = "#poll-badge-" + poll_id;
              var space_id = "#poll-space-" + poll_id;
              var posi_id = "#poll-posi-" + poll_id;
              var nega_id = "#poll-nega-" + poll_id;
              var pcolor_id = "#pcolor-id-" + poll_id;
              // var ncolor_id = "#ncolor-id-" + poll_id;
              var ncolor_id = "#ncolor-id-" + poll_id;

              if (jsondata.msg === "login_requred") {
                  // alert('login required!')
                  window.location.assign("/accounts/login/");

                  // window.location.replace("/accounts/login/");
              } else {

                if (jsondata.resultvote === 0) {
                  var pcolor = "dodgerblue"
                  $(pcolor_id).css( "color", pcolor );
                  var ncolor = "dodgerblue"
                  $(ncolor_id).css( "color", ncolor );
                } else {
                  var pcolor = "gold"
                  $(pcolor_id).css( "color", pcolor );
                  var ncolor = "dodgerblue"
                  $(ncolor_id).css( "color", ncolor );
                }

                // var posi = jsondata.result1
                // var nega = jsondata.result2
                var score = jsondata.result
                // var pvote = jsondata.pvote
                // showFlashMessage("Tip Score: " + score)

                $(score_id).text(jsondata.result);
                $(pvote_id).text(jsondata.pvote);
                $(badge_id).show(250);
                $(space_id).show(250);
                // $(posi_id).text(jsondata.result1);
                // $(nega_id).text(jsondata.result2);

              }
          }
        });
      });

      // $( ".vote-down" ).click(function() {
      $( ".vote-down" ).off( "click" ).click(function() {
        event.preventDefault();
        var poll_id = $(this).attr("poll_id");
        $.ajax({
          dataType: 'json',
          type: 'POST',
          data: 'score=-1&nega=true&poll_id=' + poll_id,
          url: '/polls/vote/',
          success: function(jsondata) {

              // var message = "Downvoted"
              // showFlashMessage(message)
              var score_id = "#poll-score-" + poll_id;
              var pvote_id = "#pvote-" + poll_id;
              var badge_id = "#poll-badge-" + poll_id;
              var space_id = "#poll-space-" + poll_id;
              var posi_id = "#poll-posi-" + poll_id;
              var nega_id = "#poll-nega-" + poll_id;
              var pcolor_id = "#pcolor-id-" + poll_id;
              // var ncolor_id = "#ncolor-id-" + poll_id;
              var ncolor_id = "#ncolor-id-" + poll_id;

              if (jsondata.msg === "login_requred") {
                  // alert('login required!')
                  window.location.assign("/accounts/login/");
                  // window.location.replace("/accounts/login/");
              } else {

                if (jsondata.resultvote === 0) {
                  var pcolor = "dodgerblue"
                  $(pcolor_id).css( "color", pcolor );
                  var ncolor = "dodgerblue"
                  $(ncolor_id).css( "color", ncolor );
                } else {
                  var pcolor = "dodgerblue"
                  $(pcolor_id).css( "color", pcolor );
                  var ncolor = "gold"
                  $(ncolor_id).css( "color", ncolor );
                }

                // var posi = jsondata.result1
                // var nega = jsondata.result2
                var score = jsondata.result
                // var pvote = jsondata.pvote
                // showFlashMessage("Tip Score: " + score)

                $(score_id).text(jsondata.result);
                $(pvote_id).text(jsondata.pvote);
                $(badge_id).show(250);
                $(space_id).show(250);
                // $(posi_id).text(jsondata.result1);
                // $(nega_id).text(jsondata.result2);

              }
          }
        });
      });


    }





    $(".note-video-clip").attr("width", "100%");
    $(".note-video-clip").attr("height", "300");



$(function(){
    var fileInput = $('.upload-file');
    var maxSize = fileInput.data('max-size');
    $('.upload-form').submit(function(e){
        if(fileInput.get(0).files.length){
            var fileSize = fileInput.get(0).files[0].size; // in bytes
            if(fileSize>maxSize){
                alert('file size is more then ' + String(maxSize).charAt(0) + ' Mb');
                return false;
            }else{
                // alert('file size is correct- '+fileSize+' bytes');
            }
        }else{
            // alert('choose file, please');
            // return false;
        }
    });
});










// sending the poll id to report after the flag is clicked on
function addPollIdEvent() {
  $(".modalclick").click(function(){
    $(".hidesubmission").show();
    $(".spinreport").hide();
    var value = $(this).attr('id');
    $(".reportp").data("poll_id", value);
    $("#custom_report_button").data("poll_id", value);
  });
};




// receiving the poll id, the poll issue id and poll issue text to be inserted into the database
function poll_report_ajax_calling(pollid, issueid, issuemsg){
    // if custom report textarea is empty - show flash message, else - fire AJAX call
    if (issuemsg == false){
        var message = "You've submitted an empty report. Please, fill in the textarea or use standard reports!"
        showFlashMessage(message);
    }
    else{
        $.ajax({
            dataType: 'json',
            type: 'POST',
            data: {
              'poll_id': pollid, 'issue_id': issueid, 'issuemsg': issuemsg,
              csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            url: '/polls/report/',
            success: function(jsondata) {
            var message = "Post reported. Thank you"
            showFlashMessage(message)
            $('#ReportModal').modal("hide")
            }
        })
    }
};

function set_report() {

  $('#custom_report_button').on('click', function(e){
      e.preventDefault();
      var textarea = $('#custom_report_textarea');
      var button = $(this);
      var pollid = $(".reportp").data("poll_id");
      var issueid = textarea.attr('issue_id');
      var issuemsg;
      
      // check if textarea is not empty and have no blank spaces instead of text
      if ($.trim(textarea.val()).length) {
          issuemsg = textarea.val();
          poll_report_ajax_calling(pollid, issueid, issuemsg);
          textarea.val('')
      }
      else{
          issuemsg = false;
          poll_report_ajax_calling(pollid, issueid, issuemsg);
          textarea.val('')
      };
  });

  $(".reportp").click(function(e){
      //preventdefault is important because it stops the original button from working and uses the javascript method
      e.preventDefault();
      var pollid = $(".reportp").data("poll_id");
      var issueid = $(this).attr("issue_id");
      var issuemsg = true;

      $(".hidesubmission").hide();
      $(".spinreport").fadeIn(1000);

      poll_report_ajax_calling(pollid, issueid, issuemsg);
  });

}



function set_fav() {

  // $(".favorite").click(function(e){
  $(".favorite").off( "click" ).click(function(e){
    event.preventDefault();
    var poll_id = $(this).attr("poll_id");

      $.ajax({
        dataType: 'json',
        type: 'POST',
        data: 'poll_id=' + poll_id,
        url: '/polls/fav/',
        success: function(jsondata) {

        if (jsondata.result=="favorited"){
          var message = "Favorited Tip"
          var color = "gold"
        }else{
          var message = "Unfavorited Tip"
          var color = "dodgerblue"
        }
        showFlashMessage(message)
            var fav_id = "#fav-type-" + poll_id;
            
            if (jsondata.msg === "login_requred") {
                // alert('login required!')
                window.location.replace("/accounts/login/");
            } else {
                $(fav_id).css( "color", color );

            }
        }
      });
  });

}

addPollIdEvent();
set_fav();
set_votes();
set_more();
set_report();















{#  </script>#}






{% endblock %}




