{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
{% block style %}
{% endblock %}
</style>





{% block content %}




<div class="container">
<div class="row">

  <div class="col-12">
    <div class="card" style="margin: 5px">
      <div class="card-body">
        <h4 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy</h4><hr>

<div class="container">
<small>

<p>This is the Return and Refund Policy of voterable.com. This Return and Refund Policy is licensed by TermsFeed Generator to voterable.com.</p>
<p>We do not issue refunds once the order is confirmed and the product is sent. We recommend contacting us for assistance if you experience any issues receiving or downloading our products.<br /> <br />If you have any questions about our Returns and Refunds Policy, please contact us: By visiting this page on our website: http://www.voterable.com/contact</p>

</small>
</div> 

      </div>
    </div>
  </div>

</div> 
</div>



{% endblock %}

