{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style>
{% block style %}


{% endblock %}
</style>


{% block head %}


{% endblock %}





{% block special %}






    <div class="card cardstyle">
      <div class="card-body">
        <h4 class="card-title allfontcolor"><i class="allfontcolor fas fa-window-close fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Subscription Cancellation</h4><hr>

        <div class="col-xs-12">

          <h5><b>Hello! We are sad to see you leave... </b></h5>

          <b><p>Please confirm that you want to cancel.</p></b>

          <a href='{% url 'CancelSubscribe' %}' class='btn buttonspace btn-sm btn-danger' data-action='show-spinner' ><b>Confirm</b></a>

          <br>
          <small>*Please note that there will be no refunds for cancellations.</small>

    	</div>


    </div>
    </div>







{% endblock %}



