{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

<style>
{% block style %}



.tnadjust {
  padding: 0px 0px 0px 0px;
  margin: 10px 0px 0px 0px;
  border-bottom: 1px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
}


.imgtn
{
object-fit: cover;
height: 55px; 
width: 55px;
}


.ppic
{
  float:left;
  padding: 0px 15px 0px 0px;
  margin: -5px 0px 0px 0px;
  width:25%;
}


{% endblock %}
</style>





{% block content %}





<div style="margin:20px">



    <div class="card cardstyle">
      <div class="card-body">


        <h4 class="card-title allfontcolor"><i class="allfontcolor fas fa-magic fa-1x"></i>&nbsp;&nbsp;&nbsp;&nbsp;Tip Lists for {{ tag }}</h4>

        <hr>

            {% if request.user.is_authenticated %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              {% if fav == True %}
              <a href="#" class="favorite iconmg" tag_id="{{ tag.id }}">
                <b style="color:gold;" id='fav-type-{{ tag.id }}' class="fa fa-star fa-lg"> </b>
              </a>

              {% else %}

              <a href="#" class="favorite iconmg" tag_id="{{ tag.id }}">
                <b id='fav-type-{{ tag.id }}' class="allbtniconcolor fa fa-star fa-lg"></b>
              </a>

              {% endif %}

            {% else %}
            <a href="/accounts/login/"><i class="allbtniconcolor fa fa-star fa-lg iconmg"></i></a>
            {% endif %}

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="allbtniconcolor fa fa-share-alt fa-lg iconmg" aria-hidden="true" data-toggle="modal" data-target="#ShareModal"></i>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'TagAllView' %}"><i class="allbtniconcolor fas fa-backward fa-lg iconmg"></i></a>

        <hr>

            <small  style="position: absolute;right: 20px;">
            <i class="allfontcolor fas fa-check-circle fa-1x"></i><b class="allfontcolor">&nbsp;&nbsp;Free Access</b>
            </small>
            <br>

        <ul class="nav nav-pills">

            {% if bydatelist %}


                  {% for i in bydatelist %}

                      <div class="col-xs-12 col-sm-4">
                      <div class="boxstyle">                        
  <!--                       <div class="thumbnail tnadjust shadow">
                        <div class="caption"> -->

  <!--                         {% if i.image %}
                          <div class="ppic">
                          <img src="{{ i.image.url }}" class="img-rounded imgtn">
                          </div>

                          {% else %}

                          <div class="ppic">
                          <img src="{% static 'img/NoImage.jpg' %}" class="img-rounded imgtn">
                          </div>            
                          {% endif %} -->


                      <b><a href="/polls/?type={{ i.slug }}">{{ i.title }}&nbsp;&nbsp;&nbsp;&nbsp;({{ i.viewpolltypeunique.ecount }} Tips)</a></b>

                      {% if i.freepoll == True %}
                      &nbsp;&nbsp;<i class="allfontcolor fas fa-check-circle fa-1x"></i><b class="allfontcolor"></b>
                      {% endif %}

                      </div>

<!--                       </div>
                      </div> -->



                      </div>

                  {% endfor %}


            {% else %}
            <br>
              There are no tags yet.
            <br>
            {% endif %}

          <br>
        </ul>



      </div>



    </div>





</div> <!-- /container -->








{% include 'sharemodal.html' %}






{% endblock %}















{% block jquery %}






<!-- doing a blockquote on a script function enables the script to be viewed in color but blocks the script code from taking effect -->

{#  <script>#}


function set_fav() {

  // $(".favorite").click(function(e){
  $(".favorite").off( "click" ).click(function(e){
    event.preventDefault();
    var tag_id = $(this).attr("tag_id");

      $.ajax({
        dataType: 'json',
        type: 'POST',
        data: 'tag_id=' + tag_id,
        url: '/tags/fav/',
        success: function(jsondata) {

        if (jsondata.result=="favorited"){
          var message = "Favorited Tag"
          var color = "gold"
        }else{
          var message = "Unfavorited Tag"
          var color = "dodgerblue"
        }
        showFlashMessage(message)
            var fav_id = "#fav-type-" + tag_id;
            
            if (jsondata.msg === "login_requred") {
                // alert('login required!')
                window.location.replace("/accounts/login/");
            } else {
                $(fav_id).css( "color", color );

            }
        }
      });
  });
}


set_fav()


{#  </script>#}
{% endblock %}