{% load staticfiles %}
{% load crispy_forms_tags %}




<style>
{% block style %}


  .iconbox {
    float:left; 
    padding-top:-20px; 
    padding-bottom:-20px;
    padding-left:0px; 
    padding-right:0px;
    font-size: 16px;
  }


/*regulates the distance between fontawesome icons across polllist fav/create/all/preview/details*/
    .iconmg
    {
        padding: 3% 8% 3% 5%;
    }


{% endblock %}
</style>


    {% if listtitle == "All" %}

    <div class="fontstyle85" id="poll-badge-{{ poll.id }}" style="margin:2px; margin-top:14px; white-space:nowrap">
<!--       <b id="poll-score-{{ poll.id }}">{{ poll.score }} </b> -->
        <span id="pvote-{{ poll.id }}">{{ poll.posi }}</span> <font>Upvotes</font>


    </div>

    <hr>

    <div class="col-xs-11 col-sm-11 iconbox">

        {% if poll in pollposi %}
        <a href="#" class="vote-up" poll_id="{{ poll.id }}"><i style="color:gold;" id="pcolor-id-{{ poll.id }}" class="iconmg fas fa-arrow-alt-circle-up fa-lg"></i></a>
        {% else %}
        <a href="#" class="vote-up" poll_id="{{ poll.id }}"><i id="pcolor-id-{{ poll.id }}" class="iconmg allbtniconcolor fas fa-arrow-alt-circle-up fa-lg"></i></a>
        {% endif %}

        {% if request.user.is_authenticated %}
            {% if poll.user_submit != request.user %}
            <i class="iconmg allbtniconcolor fa fa-flag fa-lg modalclick" id="{{ poll.id }}" aria-hidden="true" data-toggle="modal" data-target="#ReportModal"></i>
            {% endif %}
        {% else %}
        <a href="/accounts/login/"><i class="iconmg fa fa-flag fa-lg"></i></a>
        {% endif %}

<!--         <i class="iconmg allbtniconcolor fa fa-share-alt fa-lg" aria-hidden="true" data-toggle="modal" data-target="#ShareModal"></i> -->

        {% if request.user.is_authenticated %}

          {% if poll in PollFav %}
          <a href="#" class="favorite" poll_id="{{ poll.id }}"><i style="color:gold;" id='fav-type-{{ poll.id }}' class="iconmg fa fa-star fa-lg"></i></a>
          {% else %}
          <a href="#" class="favorite" poll_id="{{ poll.id }}"><i id='fav-type-{{ poll.id }}' class="iconmg allbtniconcolor fa fa-star fa-lg"></i></a>
          {% endif %}

        {% else %}
        <a href="/accounts/login/"><i class="iconmg fa fa-star fa-lg"></i></a>
        {% endif %}

        {% if request.user.is_authenticated %}
        <a href="/polls/{{ poll.id }}"><i class="iconmg allbtniconcolor fas fa-info-circle fa-lg"></i></a>
        {% endif %}

        {% if poll in pollnega %}
        <a href="#" class="vote-down" poll_id="{{ poll.id }}"><i style="color:gold;" id="ncolor-id-{{ poll.id }}" class="iconmg fas fa-arrow-alt-circle-down fa-lg"></i></a>
        {% else %}
        <a href="#" class="vote-down" poll_id="{{ poll.id }}"><i id="ncolor-id-{{ poll.id }}" class="iconmg allbtniconcolor fas fa-arrow-alt-circle-down fa-lg"></i></a>
        {% endif %}

    </div>
    {% endif %}




    {% if listtitle == "Favorite" or listtitle == "Created"  or listtitle == "Createduser" %}
    <hr>
    <div class="col-xs-11 col-sm-11 iconbox">

        {% if request.user.is_authenticated %}

          <a href="#" class="favorite" poll_id="{{ poll.id }}"><i style="color:gold;" id='fav-type-{{ poll.id }}' class="iconmg fa fa-star fa-lg"></i></a>

        {% else %}
        <a href="/accounts/login/"><i class="iconmg fa fa-star fa-lg"></i></a>
        {% endif %}


        {% if request.user.is_authenticated %}
        <a href="/polls/{{ poll.id }}"><i class="iconmg allbtniconcolor fas fa-info-circle fa-lg"></i></a>
        {% endif %}

    </div>
    {% endif %}












    {% if listtitle == "Detail" %}


        {% if user_authorised == True %}
        <a href='{{ poll.get_update }}' class='btn-link'><i class="fas fa-edit fa-lg iconmg allbtniconcolor" aria-hidden="true"></i></a>
        {% endif %}

        <i class="fa fa-share-alt fa-lg iconmg allbtniconcolor" aria-hidden="true" data-toggle="modal" data-target="#ShareModal"></i>


        {% if request.user.is_authenticated %}

          {% if favorited == True %}
          <a href="#" class="favorite iconmg" poll_id="{{ poll.id }}"><i style="color:gold;" id='fav-type-{{ poll.id }}' class="fa fa-star fa-lg"></i></a>
          {% else %}
          <a href="#" class="favorite iconmg allbtniconcolor" poll_id="{{ poll.id }}"><i id='fav-type-{{ poll.id }}' class="fa fa-star fa-lg"></i></a>
          {% endif %}

        {% else %}
        <a href="/accounts/login/"><i class="fa fa-star fa-lg iconmg"></i></a>
        {% endif %}

        {% if request.user.is_authenticated %}
        <i class="fa fa-comment fa-lg iconmg allbtniconcolor" aria-hidden="true" data-toggle="modal" data-target="#CommentModel"></i>
        {% else %}
        <a href="/accounts/login/"><i class="fa fa-comment fa-lg iconmg allbtniconcolor"></i></a>
        {% endif %}
  


    {% endif %}